<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Some Community Library</h5>
        <span class="grey-text text-lighten-4">2901 W Chestnut Steet</span>
        <br>
        <span class="grey-text text-lighten-4">San Francisco, CA</span>
        <br>
        <span class="grey-text text-lighten-4">94123 US</span>


      </div>
      <div class="col l3 s12">
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Reservations</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>