<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="<%= root_path %>" class="brand-logo">Library Manager</a>
    <ul class="right hide-on-med-and-down">
      <br>
      <li><%= link_to "Catalog", items_path %></li>
      <li><%= link_to "Reservations", reservations_path %></li>
      <li><a href="#">Employees</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>